*{
    margin:0;
    padding:0;
    
    text-decoration:none;
    font-size: 20px;
    font-family: sans-serif;

}
#navbar1{
    height:60px;
    
    display:flex;
    flex-direction: row;
    justify-content : flex-start;
    padding-left:10px;
    background-color:#000306;
    gap:15px;
}
#n1{
    height:59px;
    width:115px;
    padding-left:10px;
    background-image: url("Amazon-Emblem.jpg");
    background-size:cover;
}
#n2   {
    background-color :#000306;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:60px;
    width:100px;
    
}
#n2_1
{
    background-color: #000306;
    color:rgb(154, 154, 154);
    height:25px;
    width:100px;
    padding-left:25px;
    padding-top: 10px;
    
}
#np1{
    margin-top:auto;
    font-size:15px;
    color:rgb(154, 154, 154);
}
#n2_2{
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    height:35px;
    width:100px;
    padding-top:0px;
    background-color:#000306;
    color:white;
}
#n3{
display:flex;
flex-direction:row;
justify-content:center;
height:60px;
width:850px;
align-items:center;
}
#n3_1{
    background-color:rgb(255, 191, 71);
    height:34px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10%;
    width:35px;
    padding-top:13px;
    padding-left:13px;
}
#placeholder{
    padding-left:10px;
    width:750px;
    height:45px;
}
#select1{
    height:48px;
    width:60px;
    padding-left:5px;
    font-size:20px;
    color:rgb(112, 112, 112);
    border-top-left-radius:10%;
    border-bottom-left-radius:10%;
    background-color:rgb(227, 227, 227);
}
#n4{
    height:60px;
    width:80px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    color:white;
}
#select2{
    color:white;
    background-color:#000306;
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    border: 0px solid black;
}
#n5{
    height:60px;
    width:125px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
#n5_1{
    font-size:13px;
    padding-left:4px;
    padding-bottom:0;
    color:rgb(154, 154, 154);
}
#select3{
    
    font-size:15px;
    color:white;
    background-color:#000306;
    border : 0px solid black;
}
#n6{
    height:60px;
    width:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
#n6_1{
    font-size:13px;
    padding-left:15px;
    padding-bottom:0;
    color:rgb(154, 154, 154);
}
#n6_2{
    
    font-size:15px;
    padding-left:15px;
    color:white;
    background-color:#000306;
    border : 0px solid black;
}
#n7{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    
    align-items:center;
    height:60px;
    width:100px;
    padding-left:5px;
    color:white;
    padding-left:0px;
    gap:8px;
}
#navbar2{
    height:35px;
    display:flex;
    flex-direction:row;
    padding-left:25px;
    background-color:#232f3e;
    justify-content:flex-start;
    align-items:center;
    gap:15px;
    color:white;
    font-size:12px;
}
.nav-grid{
    
    color:white;
    font-size:15px;
    width:100px;
    
}
#nav1{
    padding-right : 0px;
    width: 50px;
}
#nav4{
    width:135px;
}
#nav3{
    width: 80px;
}
#nav6{
    width: 70px;
}
#nav8{
    width: 30px;
}
#nav7{
    width:80px;
}

#layouts{
    padding-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:6px;
}
.mainflex{
    height: 457px;
    width: 378px;
    font-family: 'Poppins', sans-serif;
    border-radius:5%;
    background-color:white;
    font-weight:bolder;
    font-size: 30px;
}
#m1_1{
    padding-top: 10px;
    padding-left:10px;
    background-image: url(kitchen-appliances.jpg);
    background-size:cover;
}
#m1_2{
    padding-top: 10px;
    padding-left:10px;
    background-image: url(makeup.jpg);
    background-size:cover;
}
#m1_3{
    padding-top: 10px;
    padding-left:10px;
    background-image: url(modernwardrobeam.jpg);
    background-size:cover;
}
#m1_4{
    padding-top: 10px;
    padding-left:10px;
    background-image: url(cutetoysamazon.jpg);
    background-size:cover;
}
#m1_5{
    padding-top: 10px;
    padding-left:10px;
    background-image: url(laptopamazon.jpg);
    background-size:cover;
}
#prods {
    margin-top: 20px;
    padding-top: 0px;
    height: 475px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.mainprod {
    padding-left: 10px;
    padding-right:10px;
    height: 450px;
    width: 454px;
    background-color: white;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    flex-shrink:0px;
}

#writing1, #writing2, #writing3,#writing4 {
    font-size: 25px;
    margin-bottom: 15px; 
} 


#picturerow11, #picturerow12, #picturerow21, #picturerow22,#picturerow31, #picturerow32, #picturerow41, #picturerow42 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px; 
    gap: 10px;
}


#Ar1c1, #Ar1c2, #Ar2c1, #Ar2c2,#Br1c1, #Br1c2, #Br2c1, #Br2c2,#Cr1c1, #Cr1c2, #Cr2c1, #Cr2c2,#Dr1c1, #Dr1c2, #Dr2c1, #Dr2c2{
    width: 170px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid rgb(133, 133, 133);
}

#Ar1c1 {
    background-image: url('realheadphone.jpg');
}

#Ar1c2 {
    background-image: url('realtablet.jpg');
}

#Ar2c1 {
    background-image: url('realcontroler.jpg');
}

#Ar2c2 {
    background-image: url('realspeaker.jpg');
}
#Br1c1 {
    background-image: url('REALdesk.jpg');
}

#Br1c2 {
    background-image: url('reallaptop.jpg');
}

#Br2c1 {
    background-image: url('realhd.jpg');
}

#Br2c2 {
    background-image: url('realpcacc.jpg');
}
#Cr1c1 {
    background-image: url('clothinggymam.hpg.jpg');
}

#Cr1c2 {
    background-image: url('trackergymam.jpg');
}

#Cr2c1 {
    background-image: url('dumbellgymam.jpg');
}

#Cr2c2 {
    background-image: url('dealsgymam.jpg');
}
#Dr1c1 {
    background-image: url('womenam.jpg');
}

#Dr1c2 {
    background-image: url('mengymam.jpg');
}

#Dr2c1 {
    background-image: url('Girlsamazon.jpg');
}

#Dr2c2 {
    background-image: url('boysamazon.jpg');
}
#mainsignin{
    height: 140px;
    background-color:white;
    border: 1px solid rgb(133, 133, 133);
    border-radius:8px;
}
#signin1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size:25px;
    padding-left:520px;
    padding-top:40px;
}
#signin2{
    height:30px;
    width:225px;
    margin-left: 645px;
    background-color:yellow;
    font-size:15px;
    border-radius:25px;
    border:1px solid yellow;
}
#signindiv{
    height:20px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    font-size:10px;
    gap:3px;
}
#signinanchor1{
    font-size: 10px; 
    color: blue;          
    text-decoration: underline; 
    cursor: pointer;
}
#signinpara1{
    font-size:10px;
}
#prefooter{
    height:30px;
    color:white;
    padding-left:708px;
    padding-top:10px;
    font-size: 15px;
    background-color: #232F3E;
}
#mainfooter{
    background-color: #131A22;
    padding-left:108px;
    padding-top:40px;
    height:175px;
    font-size:15px;
    color:white;
}